

body{

  margin:0px;
  background-color: rgb(226, 247, 255);
  font-family: Arial, Helvetica, sans-serif;
  height:1800px;
}

html{
  scroll-behavior: smooth;
}


.about-me-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;





  width:1000px;
  z-index: 10000;
  margin: 0 auto;

}


.about-me{
  display: flex;
  color:rgb(255, 255, 255);
  background-color:rgb(111, 179, 247);
  padding:10px;
  border-radius:10px;
  
  justify-content: center;
  align-items: center;
  font-size:25px;

  

}

.about-me-desc{
  font-size:20px;
}

.big-header-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%
}

.big-header{
  color:rgb(255, 255, 255);
  margin:0px;
  text-align: center;
  font-size:100px;
  text-shadow: 0px 0px 40px rgb(255, 255, 255);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  background-image: linear-gradient(to right, red, rgb(184, 59, 188));
  border-radius:30px;
  padding:0px 10px 0px 10px;

}

.top-part{
  background-image: url(aetheticchristmasthing.jpg);
  width:100%;
  height:300px;
  background-repeat: no-repeat;
  background-position: center 55%;
}



.bottom-part{
  display:flex;

  justify-content:space-around;
  align-items: flex-start;
  column-gap: 50px;
  margin:0px 50px 0px 50px;
  height:1000px;
}


.cookie-clicker-game{
  position:relative;
  right:50px;
  top:100px;
  background-image: linear-gradient(to top,rgb(255, 201, 201),rgb(255, 134, 134));
  border-color:red;
  border-width:5px;
  border-style:solid;
  width:500px;
  height:500px;
  border-radius:70px;
  transition: width 1s, height 1s;
  box-shadow: 10px 15px 10px rgba(0,0,0,0.2);


}

.elf-attack-game{
  position:relative;
  right:50px;
  top:100px;
  background-image: linear-gradient(to top,rgb(202, 255, 207),rgb(168, 255, 122));
  border-color:rgb(56, 100, 72);
  border-width:5px;
  border-style:solid;
  width:500px;
  height:500px;
  border-radius:70px;
  transition: width 1s, height 1s;
  box-shadow: 10px 15px 10px rgba(0,0,0,0.2);
}

.cookie-clicker-game, .elf-attack-game, .under-construction-game{
  position:relative;
  right:0px;
  top:100px;
}
.cookie-clicker-game:hover, .elf-attack-game:hover, .under-construction-game:hover{
  width:700px;
  height:700px;
}


.elf-attack-game:not(.running):hover {
  width: 700px;
  height: 700px;
}

.elf-attack-game.running {
  width: 700px;
  height: 700px;
}
.cookie-clicker-game:hover .cookie-image{
  transform:scale(1.5);
}



.santa-hat{
  pointer-events: none;
  position:absolute;
  left: -80px;
  top:-100px;
  width:200px;
  rotate: 0deg;

}




.elf{
  pointer-events: none;
  

  position:absolute;


  left: 120px;
  top:-130px;
  width:150px;
  rotate: 0deg;
}

.game-title{
  color:white;
  text-align: center;
  font-size:40px;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}



.cookie-button{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);



  background-color: transparent;
  border:none;

}

.cookie-image{
  width:200px;
  transition: transform 1s;
  box-shadow:5px 5px 10px rgba(0,0,0,0.2);
  border-radius:100px;
}
.cookie-image:active{
  box-shadow:0px 0px 0px rgba(0,0,0,0);
}

.bottom-part-cookie{
    height: 600px;

}

.header{
  padding:10px 0px 10px 0px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  background-color:rgba(255, 255, 255,0);


  height:70px;
  width:100%;
  top:0px;
  transition: background-color 0.2s;


}

.header:hover{
    background-color:rgb(255, 255, 255);

}
.header:hover .header-text{

  color:rgb(0, 0, 0);

}

.header:hover .company-name{
  color:red;
}
.header-left{
  margin-left:50px;

  height:100%
}

.header-right{
  display:flex;
  margin-left:200px;
  flex-direction: row;
  column-gap:100px;
  margin-right:50px;
  width:300px;
  font-weight:bold;

}

.company-name{
  display:flex;
  color:white;

  font-size:50px;
  font-family: 'Mountains of Christmas';
  font-weight:bold;
  margin:0px;

}

.header-text{
  color:white;
  font-family:arial;
  font-size:20px;
  transition: color 0.2s;
}

.header-text a{
  text-decoration: none;
  color:inherit;
  cursor:pointer;
}

.header-text a:hover{
  opacity:0.5;
}

.header-text:hover{
  cursor:pointer;
}

.js-num-of-cookies{
  border-radius:20px;
  margin: 0px 50px 20px 50px;


  display:flex;
  justify-content: center;
  color:white;
  font-size:40px;
  font-weight:bold;
  background-color: red;
}


.upgrade-row{
  position:absolute;
  bottom:5px;
  width:100%;
  height:200px;
  display:flex;
  align-items: end;
  justify-content: space-evenly;

  
}


.upgrade-container{
  display:flex;


  align-items: center;
  flex-direction: column;

  position:relative;
  bottom:0px;



  width:100px;
}


.upgrade1, .upgrade2, .upgrade3, .upgrade4{
  width:80px;
}

.upgrade1{

  
  background-color:rgb(186, 252, 186);
  border-color:green;
  border-radius:20px;
  border-style:solid;
  


  font-size:50px;
}

.upgrade2{
  background-color:rgb(251, 193, 77);
  border-color:rgb(0, 0, 0);
  border-radius:20px;
  border-style:solid;


  font-size:50px;
}

.upgrade3{
  background-color:rgb(255, 255, 255);
  border-color:rgb(165, 165, 165);
  border-radius:20px;
  border-style:solid;


  font-size:50px;
}

.upgrade4{
  background-color:rgb(246, 79, 79);
  border-color:rgb(255, 255, 255);
  border-radius:20px;
  border-style:solid;


  font-size:50px;
}

.upgrade1:active, .upgrade2:active, .upgrade3:active, .upgrade4:active{
  opacity:0.5;
}
.upgrade-stats{
  margin:0px;
  font-size:20px;
  font-weight:bold;
  color:rgb(11, 11, 11);



  
}

.js-cookie-info-per-click, .js-cookie-info-per-second{
  display:inline;

  background-color:rgb(255, 255, 255);
  margin-top:20px;
  margin-left:30px;
  font-size:20px;
  padding:5px 5px 5px 5px;
  border-radius:5px;



}

.reset-cookies{
  
  position:absolute;
  right:10px;
  top:200px;
  background-color: rgb(183, 78, 78);
  color:white;
  border:none;

  font-size:20px;
}

.reset-cookies:hover{
  cursor:pointer;
}

.under-construction-game{

  position:relative;

  background-image: linear-gradient(to top,rgb(56, 56, 56),rgb(26, 26, 26));
  border-color:rgb(0, 0, 0);
  border-width:5px;
  border-style:solid;
  width:500px;
  height:500px;
  border-radius:70px;
  transition: width 1s, height 1s;
  box-shadow: 10px 15px 10px rgba(0,0,0,0.2);

}

.js-num-of-elves, .elf-highscore{
  border-radius:20px;
  margin: 0px 50px 20px 50px;


  display:flex;
  justify-content: center;
  color:white;
  font-size:40px;
  font-weight:bold;
  background-color: rgb(53, 146, 70);
}

.start-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-button{
  
  font-size:40px;
  color:rgb(255, 255, 255);
  background-color: rgb(32, 58, 28);
  padding:10px;
  border:none;
  border-radius:10px;
  z-index: 1000;
}

.elf-spawn-container{

  position:absolute;
  top:200px;
  right:40px;
  left:20px;
  bottom:120px;


}

.evil-elf{
  width:50px;
  position:absolute;

}

.evil-elf:hover{
  cursor:pointer;
}

.js-timer{
  display:inline-block;
  margin: 0 auto;
  
  font-size:50px;
  color:rgb(0, 0, 0);
  font-weight:bold;
}

.bottom-part-elf{
  text-align: center;
}
